body {
    font-family: 'Inter', sans-serif;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 220px 5fr;
}

.sidevar{
    background-color: rgb(19, 176, 224);
    color: white;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows: 100px 1fr;
    align-items: start;
    padding-left: 8px;
}

.sidevar img {
    filter: brightness(0) invert(1); 
    width: 2rem;
    height: 2rem;
    padding: 5px;
    text-align: center;
}

.sidevar-title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidevar-title img {
    width: 2.5rem;
    height: 2.5rem;
}

.sidevar-content{
    display:grid;
    gap: 2rem;
    padding-left: 10px;
    align-content: space-between;
    height: 100%
}

.side-cont {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 1fr;
    grid-template-rows: 100px 110px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    align-items: center;
}

.nav img {
    justify-self: flex-end;
    padding-right: 15px;
    padding-left: 10px;
}

.nav input {
    height: 25px;
    background-color: rgb(236, 232, 232);
    border-radius: 8px;
    border-style: none;
}

.photo{
    border-radius: 100%;
    width: 50px;
    height: auto;
}

.user {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gretting {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.gretting .photo {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    width: 100px;
    height: auto;
}

.gretting p {
    align-self: center;
    justify-self: flex-start;
}

.gretting .name {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav .buttons {
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

button{
    height: 40px;
    width: 100%;
    padding: 0 20px;
    background-color: rgb(19, 176, 224);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border-style: none;
    align-self: center;
}